* {
    padding: 0;
    margin: 0;
}

#cabecalho {
    background-color: black;
    text-align: center;
    color: white;
    padding: 15px;
}

#titulopage {
   padding: 15px;
   text-align: left;
}

body {
    background-image: url(img/imagens\ de\ fundo.jpg);
    background-size: cover;

}
