@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
}

#cabecalho {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    background-image: url(img/capa\ senna.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 15px;
    
}

#titulocabecalho { 
    background-color: rgba(0, 0, 0, 0.692); 
    border-radius: 15px;
    width: 264px;
    padding: 15px;
    text-align: center;
    font-family: 'Inter';
 
 }

body { 
    background-size: cover;

}

.conteudo {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 50px;
    text-align: center;
    color: black;
    font-family: 'Inter';
    background-color: rgba(0, 0, 0, 0.137);
}

.ayrton {
    width: 500px;
    padding-left: 40%;
}

.capacete {
    width: 300px;
}

